// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// border 
$base-border-color:#E4E7ED;
$base-border-radius-form: 8px;

// font-size
$base-font-size-default: 16px;
$base-font-size-small: 12px;
$base-font-size-title: 25px;

// font-weight
$base-font-weight-title: 700;

// font-color
$base-font-color: #303133;
$base-font-color-a: #409eff;

// color
$base-color-black: #000000;
$base-color-white: #fff;
$base-color-blue: #409eff;
$base-color-red: #f34d37;
$base-color-grey: #dcdfe6;
$base-color-purple-lighter: #f6f4fc;

// z-index
$base-z-index: 999;

// input
$base-input-height: 32px;

// form
$base-form-margin: 40px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
